.signIn {
    min-height: 100vh;
}

.signInLogoCtn {
    min-height: 100vh;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;

    border-right-style: dotted;
    border-color: lightgray;
}
.signInMainLogo {
    width: 500px;
}

.signInCtn {
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.signInTitleCtn {
    text-align: center;
}
.signInTitle {
    display: inline-block;
    font-size: 52px;
    font-weight: bold;
}

.googleBtnCtn {
    text-align: center;
    margin: 50px;

    border-style: solid;
    border-radius: 30px;
    border-color: lightgrey;
    background-color: lightgray;

    cursor: pointer;
}
.googleLogoCtn {
    display: inline-block;
    margin-top: 10px;
}
.googleLogo {
    width: 40px;
}
.googleBtn {
    display: inline-block;
    font-size: 30px;
    margin: 0px 10px 10px 10px;
}

@media (max-width: 768px) {
    .signInLogoCtn {
        min-height: 10vh;
    }
    .signInMainLogo {
        width: 350px;
        height: 350px;
    }
}