.signUp {
    min-height: 100vh;
}

.logoCtn {
    min-height: 100vh;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;

    border-right-style: dotted;
    border-color: lightgray;
}
.mainLogo {
    width: 500px;
}

.signUpCtn {
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.signUpTitleCtn {
    text-align: center;
}
.signUpTitle {
    display: inline-block;
    font-size: 52px;
    font-weight: bold;
}

.SUNYLogoCtn {
    text-align: center;

    margin: 30px;
}
.SUNYLogo {
    width: 300px;
}
.caution {
    text-align: center;
    font-size: 30px;
}

.googleBtnCtn {
    text-align: center;
    margin: 50px;

    border-style: solid;
    border-radius: 30px;
    border-color: lightgrey;
    background-color: lightgray;

    cursor: pointer;
}
.googleLogoCtn {
    display: inline-block;
    margin-top: 10px;
}
.googleLogo {
    width: 40px;
}
.googleBtn {
    display: inline-block;
    font-size: 30px;
    margin: 0px 10px 10px 10px;
}