.welcomeSignIn {
    text-align: center;
    align-items: center;
    justify-content: center;
    display: flex;
    min-height: 100vh;
}

.welcomeLogoCtn {
    min-height: 100vh;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;

    border-right-style: dotted;
    border-color: lightgray;
}
.welcomeMainLogo {
    width: 500px;
}


.welcomeTitle {
    font-size: 52px;
    font-weight: bold;
}
.welcomeDesc {
    color: gray;
    font-size: 24px;
}

.signInBtnCtn {
    text-align: center;
    margin: 50px;
}
.signInBtn {
    border-style: solid;
    border-radius: 30px;
    border-color: lightgrey;
    padding: 5px 50px;

    background-color: lightgray;
    cursor: pointer;
    font-size: 30px;
}

.signUpBtnCtn {
    text-align: center;
    margin: 50px 50px 50px 50px;
}
.signUpBtn {
    border-style: solid;
    border-radius: 30px;
    border-color: lightgrey;
    padding: 5px 50px;

    background-color: lightgray;
    cursor: pointer;
    font-size: 30px;
}
.signUpDesc {
    color: rgb(255, 96, 96);
    font-weight: bold;
}

@media (max-width: 768px) {
    .welcomeLogoCtn {
        min-height: 10vh;
    }
    .welcomeMainLogo {
        width: 350px;
        height: 350px;
    }
}