.adminUsersCtn {
  padding: 10px;
}

.returnDesc {
  margin-left: 10px;
  font-weight: bold;
}

.adminUsersTitle {
  font-size: 36px;
  font-weight: bold;
  margin-bottom: 10px;
}

.adminUsersList {
    border-top-style: solid;
    border-color: black;
    overflow: clip;
}
.adminUsersItem {
    padding: 10px;

    border-bottom-style: solid;
    border-width: 2px;
    border-color: gray;
}