.navbar {
    background-color: lightgray;
    border-bottom-style: solid;
    border-color: gray;
}

.logo {
    width: 30px;
}

.iconCtn {
    display: flex;
    align-items: center;
}

.iconCtn .nav-item {
    display: flex;
    align-items: center;
}

.iconCtn .nav-link {
    display: flex;
    align-items: center;
    padding: 0.5rem;
}