.upperCtn {
    padding: 25px;
}

.pfp {
    width: 250px;
    height: 250px;
    border-radius: 50%;
    object-fit: cover;
    object-position: center;
    display: block;
}

.userInfoCtn {
    padding-top: 60px;
}
.username {
    font-size: 30px;
}

.editBtnCtn{
    padding-top: 60px;
}
.editBtn {
    display: inline-block;
    margin-right: 5px;

    border-style: solid;
    border-color: lightgrey;
    border-radius: 8px;
    padding: 5px 40px;

    background-color: lightgray;
    cursor: pointer;
    font-size: 15px;
}

.logoutBtn {
    background-color: #dc3545 !important;
    color: white;
    border-color: #dc3545 !important;
    text-align: center;
}

.logoutBtn:hover {
    background-color: #c82333 !important;
    border-color: #bd2130 !important;
}


.optionList {
    border-top-style: solid;
    border-color: black;
    overflow: clip;
}
.optionItemList {
    padding: 10px;

    border-bottom-style: solid;
    border-width: 2px;
    border-color: black;
}
.optionItem {
    padding: 10px;

    border-bottom-style: solid;
    border-width: 2px;
    border-color: gray;
}
.optionItem:hover {
    background: #d0d0d0;
}
.option {
    font-size: 18px;
    font-weight: bold;
    color: black;
}
a {
    text-decoration: none;
}