.upperCtn {
    padding: 25px;
}

.pfp {
    width: 180px;
    height: 180px;
    border-radius: 50%;
    object-fit: cover;
    object-position: center;
    display: block;
}

.userInfoCtn {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.username {
    font-size: 30px;
}

.editBtnCtn{
    display: flex;
    align-items: center;
    justify-content: center;
}
.editBtn {
    display: inline-block;
    margin-right: 5px;

    border-style: solid;
    border-color: lightgrey;
    border-radius: 8px;
    padding: 5px 40px;

    background-color: lightgray;
    cursor: pointer;
    font-size: 15px;
}

.logoutBtn {
    background-color: #dc3545 !important;
    color: white;
    border-color: #dc3545 !important;
    text-align: center;
}

.logoutBtn:hover {
    background-color: #c82333 !important;
    border-color: #bd2130 !important;
}


.optionList {
    display: flex;
    flex-direction: column;

    border-top-style: solid;
    border-color: black;
    width: 100%;

    list-style-type: none;
    padding: 0;
}
.optionItemList {
    padding: 10px;

    border-bottom-style: solid;
    border-width: 2px;
    border-color: black;
}

.optionItem {
    padding: 10px;

    border-bottom-style: solid;
    border-width: 2px;
    border-color: gray;
}
.optionItem:hover {
    background: #d0d0d0;
}
.option {
    font-size: 18px;
    font-weight: bold;
    color: black;
}
a {
    text-decoration: none;
}

@media (max-width: 768px) {
    .upperCtn {
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .pfpCtn {
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .userInfoCtn {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }
    .editBtnCtn {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 10px;
    }
}