.reviewPageCtn {
  padding: 10px;
}

.returnDesc {
  margin-left: 10px;
  font-weight: bold;
}

.reviewPageTitle {
  font-size: 36px;
  font-weight: bold;
  margin-bottom: 10px;

  text-align: center;
}